.si{
    margin-top:50px;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
}
.s{
    color:rgb(3, 16, 85);
}

.px{
    margin-right: 52px;
}

.autre{
    margin-right: 0px !important;
}
.b
{
    cursor: default;
  
}
.naf{
    margin-left: 80px;
    color:red;
}
